.container {
  position: relative;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.slide {
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
  justify-content: center;
}



/* Simple coloration */
body {
  margin: 0;
}
.slide {
  font-family: sans-serif;
  background: #0f010efb;
  letter-spacing: 0.1em;
}
.slide:nth-child(2n) {
  background: #200536;
}


.typewrite {
 
  background: linear-gradient(to right, #ffee10, #F34A4E);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  font-weight:bold;
  text-transform: uppercase;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  padding: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media screen and (min-width: 601px) {
  div.typewrite {
    font-size: 55px;
    font-family: 'Notable', sans-serif;
  }
}

@media screen and (max-width: 600px) {
  div.typewrite {
    font-size: 28px;
    font-family: 'Notable', sans-serif;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


footer {
  padding-top: 15rem;
  padding-bottom: 5rem;
}

footer .social-link {
  display:inline-flex;
  text-decoration: none;
}

.sm {
  color: #F34A4E;
  font-size: 5rem;
  transition: 0.5s;
}

.cm{
  color: #F34A4E;
}

.owner {
  text-align: center;
  color: rgb(175, 174, 174);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.89);
}

.sm:hover {
  color: #ffee10;
}



article {
  position: relative;
  top: 50%;
  text-align: center;
  transform: translate(0, -50%);
  padding: 1rem;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

/* Pattern styles */
.container {
  display: grid;
}

.left-half {
  background: #0f010efb;
  grid-column: 1;
  font-family: 'Orbitron', sans-serif;

}

.right-half {
  background: #220220fb;
  grid-column: 2;
  font-family: 'Orbitron', sans-serif;
}


.skills {
  float: left;
  width: 35%;
  padding: 10px;
}



@media screen and (max-width: 600px) {
  .skills {
    width: 100%;
    display: block;
    margin-bottom: 0px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.restxt{
  font-family: 'Zen Dots', cursive;}


.logo{
  color: #f1f1f1;
  font-family: 'Birthstone Bounce', cursive;
  font-size: 60px;
  padding: 20px;
  text-shadow: 2px 2px 8px #160909;
}


@media screen and (min-width: 601px) {
  .about {
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    color:  #F34A4E;
  }
}

@media screen and (max-width: 600px) {
  .about {
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    color:  #F34A4E;
  }
}

.container5 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
}


.avatar {
	width: 170px;
	height: 170px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  object-fit: cover;

}

img{
  width: 100%;
  height: 100%;
}
