<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- title -->
        <title>SidtheAnalyst</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='effects.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- Javascript -->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scripts.js') }}">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Birthstone+Bounce&family=BenchNine&family=Big+Shoulders+Display:wght@600&family=Monoton&family=Notable&family=Orbitron:wght@500&family=Revalia&family=Sigmar+One&family=Zen+Dots&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="container">

            <!-- slide1 -->
            <div class="slide">
                    <div class="typewrite " data-period="1000" data-type='[ "Hello World", "I am Sid..", "Analyst", "SAP" ]'>
                        <span class="wrap"></span>
                    </div>
            </div>

            <!-- slide2 -->
            <div class="slide">
                <div class="container5">
                    <div class="avatar"> 
                        <img src="/static/mypics.JPG" alt="" title="Yup, It's Me!" />
                    </div>
                </div>
            </div>

            <!-- slide3 -->
            <div class="slide">
                
            </div>

            <!-- slide4 -->
            <div class="slide">d</div>

            <!-- slide5 -->
            <div class="slide">e</div>

        </div>

        <script  src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>

    </html>
