<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- title -->
        <title>SidtheAnalyst</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- css -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <!-- Javascript -->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scripts.js') }}">
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Birthstone+Bounce&family=BenchNine&family=Big+Shoulders+Display:wght@600&family=Monoton&family=Notable&family=Orbitron:wght@500&family=Revalia&family=Sigmar+One&family=Zen+Dots&display=swap" rel="stylesheet">
    </head>

    <body>

        <div class="container">

            <!-- slide1 -->
            <div class="slide">
                    <div class="typewrite " data-period="1000" data-type='[ "Hello World", "I am Sid..", "SAP Aspirant", "Data Analyst" ]'>
                        <span class="wrap"></span>
                    </div>
            </div>

            <!-- slide2 -->
            <div class="slide">
                <div class="container5">
                    <div class="avatar"> 
                        <img src="/static/me.png" alt="" title="Yup, It's Me!" />
                    </div>
                    <h3 class="quote w3-text-white">Try, Fail, Repeat.</h3>
                </div>
            </div>

            <!-- slide3 -->
            <div class="slide">
                <div class="w3-container w3-text-white about">
                    <br>
                    <p class="qn">Who am I?</p>
                    I am SIDDHESH BHABAD, 25 years old post graduate student looking for my first job placement. I hold MCA and B.Sc. Maths degrees from reputed
                    autonomous institutes of the country.<br><br>
                    Dedicated hard working individual with exceptional analytical, technical and problem-solving skills seeking a position as SAP SD intern.<br><br>
                    Want to hire a hard working individual? Contact me..
                </div>
            </div>

            <!-- slide4 -->
            <div class="slide">
                <div class="w3-container w3-center w3-padding-64">
                    <p class="logo">SB</p>
                    <h1 class="restxt w3-text-light-grey">Checkout my resume</h1>
                    <br><br>
                    <form action="{{ url_for('.download_file') }}" method="GET">
                        <button class="w3-button w3-xxlarge w3-text-light-black w3-light-grey w3-hover-white">Download</button>
                    </form>
                </div>
            </div>

            <!-- slide5 -->
            <div class="slide">
                <div class="left-half w3-red">
                    <article class="w3-center w3-padding-24">
                        <div class="w3-padding-24">
                        <p><i class="fa fa-envelope w3-xxlarge cm"></i></p>
                        <p class="w3-text-light-grey">sidtheanalyst@gmail.com</p>
                        </div>
                        <div class="w3-padding-24">
                        <p><i class="fa fa-map-marker w3-xxlarge cm"></i></p>
                        <p class="w3-text-light-grey">Navi Mumbai, India</p>
                        </div>
                        <div class="w3-padding-24">
                        <p><i class="fa fa-phone w3-xxlarge cm"></i></p>
                        <p class="w3-text-light-grey">+91-8424988452</p>
                        </div>
                    </article>
                  </div>
                  <div class="right-half">
                    <article class="w3-center">
                        <div class="w3-container">
                          <a class="social-link" href="https://www.facebook.com/siddhesh.bhabad" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook sm"></i></a>
                          <a class="social-link" href="https://www.instagram.com/sidmb8/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram sm"></i></a>
                          <a class="social-link" href="https://twitter.com/BhabadSiddhesh" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter sm"></i></a>                  
                          <a class="social-link" href="https://github.com/Sid9951" target="_blank" rel="noopener noreferrer"><i class="fab fa-github sm"></i></a>              
                          <a class="social-link" href="https://www.linkedin.com/in/siddhesh-bhabad-002282190/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin sm"></i></a>
                    </div>
                    <br><br>
                    <div class="owner">Copyright &copy; SidtheAnalyst</div>
                      </article>>  
                  </div>
            </div>
                
        </div>

        <script  src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>

    </html>
